ENABLE_LEGACY_NOTIFICATION_PUSH=
NVU_ALLOW_CUSTOM_NETLIFY_DOMAIN=
NVU_CAPACITOR_MODE=
NVU_NETLIFY_URL=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_MEASUREMENT_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_LEGACY_NOTIFICATIONS_READ_HISTORY=
VITE_LEGACY_NOTIFICATIONS_REALTIME=
VITE_LEGACY_NOTIFICATIONS_RESOLVE=
VITE_LEGACY_NOTIFICATIONS_WRITE_FALLBACK=
