@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-[#09090b] dark:text-[#fafafa];
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
